@import "./components/city/styles.css";
@import "./components/units/styles.css";
@import "./components/forecast/styles.css";
@import "./components/places/styles.css";
@import "./components/logo/styles.css";
@import "./components/coordinates/styles.css";
@import "./components/meta/styles.css";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.weather {
  position: relative;
}
